<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
<title>CreateEdit - filmes</title>
	<meta charset="UTF-8"/>
	<meta name="description" content="EndGam Gaming Magazine Template"/>
	<meta name="keywords" content="endGam,gGaming, magazine, html"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i" rel="stylesheet"/>


	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/slicknav.min.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="css/magnific-popup.css"/>
	<link rel="stylesheet" href="css/animate.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css"/>


	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</h:head>
<h:body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="header-warp">
			<div class="header-social d-flex justify-content-end">
				<p>Redes sociais:</p>
				<p:repeat var="key" value="#{confBean.lista}">
					<a href="#{key.pint}" target="_blank"><i class="fa fa-pinterest"></i></a>
					<a href="#{key.face}" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="#{key.twi}" target="_blank"><i class="fa fa-twitter"></i></a>
				</p:repeat>
			</div>
			<div class="header-bar-warp d-flex">
				<!-- site logo -->
				<p:repeat var="logo" value="#{confBean.lista}">
					<a href="index.jsf" class="site-logo">
						<img src="#{logo.logoSite}" style="width: 172px; height: 40px;"/>
					</a>
				</p:repeat>
				<nav class="top-nav-area w-100">
					<div class="user-panel">
						<a href="Logar.jsf">Logar</a>
					</div>
					<!-- Menu -->
					<ul class="main-menu primary-menu">
						<li><a href="index.jsf">Home</a></li>
						<li><a href="Filmes.jsf">Filmes</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Page top section -->
	<p:repeat var="tex" value="#{confBean.lista}">
	<section class="page-top-section set-bg" data-setbg="#{tex.imageHeaderF}">
		<div class="page-info">
			<h2>Filmes</h2>
			<div class="site-breadcrumb">
				<a href="index.jsf">Home</a>  /
				<span>Filmes</span>
			</div>
		</div>
	</section>
	</p:repeat>
	<!-- Page top end-->




	<!-- Games section -->
	<section class="games-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-8 col-md-7">
					<div class="row">
					<ui:repeat var="key" value="#{textosBean.textos2}">
						<div class="col-lg-3 col-md-4">
							<div class="game-item">
								<img style="width: 240px; height: 180px;" src="#{key.fotoS}" alt="#"/>
								<h5>#{key.titulo}</h5>
								<h6>#{key.descricao}</h6>
								<a href="game-single.html" class="read-more" data-toggle="modal" data-target="#texto#{key.id}">View trailer</a>
							</div>
						</div>
						<!-- Modal -->
							<div class="modal fade" id="texto#{key.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  								<div class="modal-dialog" role="document">
    								<div class="modal-content">
      									<div class="modal-header">
        									<h5 class="modal-title">#{key.titulo}</h5>
        									<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          										<span aria-hidden="true">&times;</span>
        									</button>
      									</div>
      									<div class="modal-body">
      										<div class="embed-responsive embed-responsive-16by9">
        									<video width="426" height="240" controls="controls">
												  <source class="embed-responsive-item" src="#{key.videoS}" type="video/mp4"/>
												  <source class="embed-responsive-item" src="#{key.videoS}" type="video/webm"/>
												</video>
        									</div>
      									</div>
      									<div class="modal-footer">
        									<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      									</div>
    								</div>
  								</div>	
							</div>
					</ui:repeat>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Games end-->


	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<p:repeat var="lof" value="#{confBean.lista}">
				<a href="#" class="footer-logo">
					<img src="#{lof.logoSite}" style="width: 172px; height: 41px;"/>
				</a>
			</p:repeat>
			<ul class="main-menu footer-menu">
				<li><a href="index.jsf">Home</a></li>
				<li><a href="Filmes.jsf">Filmes</a></li>

			</ul>
			<div class="copyright"><a href="">Colorlib</a> 2019 @ usuário</div>
		</div>
	</footer>
	<!-- Footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.sticky-sidebar.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/main.js"></script>

	</h:body>

</html>
