<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>CreateEdit</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="EndGam Gaming Magazine Template"/>
	<meta name="keywords" content="endGam,gGaming, magazine, html"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i" rel="stylesheet"/>


	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/slicknav.min.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="css/magnific-popup.css"/>
	<link rel="stylesheet" href="css/animate.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css"/>


	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</h:head>
<h:body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="header-warp">
			<div class="header-social d-flex justify-content-end">
				<p>Redes sociais:</p>
				<p:repeat var="key" value="#{confBean.lista}">
					<a href="#{key.pint}" target="_black"><i class="fa fa-pinterest"></i></a>
					<a href="#{key.face}" target="_black"><i class="fa fa-facebook"></i></a>
					<a href="#{key.twi}" target="_black"><i class="fa fa-twitter"></i></a>
				</p:repeat>
			</div>
			<div class="header-bar-warp d-flex">
				<!-- site logo -->
				<p:repeat var="logo" value="#{confBean.lista}">
					<a href="index.jsf" class="site-logo">
						<img src="#{logo.logoSite}" style="width: 172px; height: 41px;"/>
					</a>
				</p:repeat>
				<nav class="top-nav-area w-100">
					<div class="user-panel">
						<a href="Logar.jsf">Logar</a>
					</div>
					<!-- Menu -->
					<ul class="main-menu primary-menu">
						<li><a href="index.jsf">Home</a></li>
						<li><a href="Filmes.jsf">Filmes</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Hero section -->
	<p:repeat var="nada" value="#{homeBean.lista}">
	<section class="hero-section overflow-hidden">
		<div class="hero-slider owl-carousel">
			<div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="#{nada.imageHeaderH}">
				<div class="container">
					<h2>#{nada.titulo}</h2>
				</div>
			</div>
			<div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="#{nada.imageHeaderH2}">
				<div class="container">
					<h2>#{nada.titulo}</h2>
				</div>
			</div>
		</div>
	</section>
	</p:repeat>

	<!-- Blog section -->
	<section class="blog-section spad">
		<div class="container">
			<div class="row ">
				<div class="col-xl-9 col-lg-8 col-md-7">
					<div class="section-title text-white">
						<h2>Gênero</h2>
					</div>
					<ul class="blog-filter">
						<li><a href="Filmes.jsf">Ação</a></li>
						<li><a href="Filmes.jsf">Comédia</a></li>
						<li><a href="Filmes.jsf">Romance</a></li>
						<li><a href="Filmes.jsf">Terror</a></li>
					</ul>
					<!-- Blog item -->
					<p:repeat var="card" value="#{textosBean.tres}">
					<div class="card mb-3 " style="max-width: 540px; background: linear-gradient(45deg, #501755 0%, #2d1854 100%);">
  						<div class="row no-gutters">
    						<div class="col-md-4">
      							<img src="#{card.fotoS}" class="card-img" style="height: 240px;"/>
    						</div>
    						<div class="col-md-8">
      							<div class="card-body">
        							<h5 class="card-title">#{card.titulo}</h5>		
        							<p class="card-text">#{card.descricao}</p>
        							<p class="card-text"><small class="text-muted">#{card.genero}</small></p>
      							</div>
    						</div>
  						</div>
					</div>
					</p:repeat>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-5 sidebar">
					<div id="stickySidebar">
						<div class="widget-item">
							<div class="categories-widget">
								<h4 class="widget-title">gênero</h4>
								<ul>
									<li><a href="Filmes.jsf">Ficção científica</a></li>
									<li><a href="Filmes.jsf">Documentário</a></li>
									<li><a href="Filmes.jsf">Romance</a></li>
									<li><a href="Filmes.jsf">Terror</a></li>
									<li><a href="Filmes.jsf">Comédia</a></li>
									<li><a href="Filmes.jsf">Ação</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog section end -->

	<!-- Featured section
	<section class="featured-section">
		<div class="featured-bg set-bg" data-setbg="img/featured-bg.jpg"></div>
		<div class="featured-box">
			<div class="text-box">
				<div class="top-meta">11.11.18  /  in <a href="">Filmes</a></div>
				<h3>The game you’ve been waiting  for is out now</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vestibulum posuere porttitor justo id pellentesque. Proin id lacus feugiat, posuere erat sit amet, commodo ipsum. Donec pellentesque vestibulum metus...</p>
				<a href="#" class="read-more">View trailer  <img src="img/icons/double-arrow.png" alt="#"/></a>
			</div>
		</div>
	</section>-->

	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<p:repeat var="lof" value="#{confBean.lista}">
				<a href="#" class="footer-logo">
					<img src="#{lof.logoSite}" style="width: 172px; height: 41px;"/>
				</a>
			</p:repeat>
			<ul class="main-menu footer-menu">
				<li><a href="index.jsf">Home</a></li>
				<li><a href="Filmes.jsf">Filmes</a></li>
			</ul>
			<div class="copyright"><a href="">Colorlib</a> 2019 @ usuário</div>
		</div>
	</footer>
	<!-- Footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.sticky-sidebar.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/main.js"></script>
</h:body>
</html>