<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>EndGam - Gaming Magazine Template</title>
	<meta charset="UTF-8"/>
	<meta name="description" content="EndGam Gaming Magazine Template"/>
	<meta name="keywords" content="endGam,gGaming, magazine, html"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i" rel="stylesheet"/>


	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/slicknav.min.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="css/magnific-popup.css"/>
	<link rel="stylesheet" href="css/animate.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css"/>


	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</h:head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="header-warp">
			<div class="header-social d-flex justify-content-end">
				<p>Redes sociais:</p>
				<p:repeat var="key" value="#{confBean.lista}">
					<a href="#{key.pint}" target="_blank"><i class="fa fa-pinterest"></i></a>
					<a href="#{key.face}" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="#{key.twi}" target="_blank"><i class="fa fa-twitter"></i></a>
				</p:repeat>
			</div>
			<div class="header-bar-warp d-flex">
				<!-- site logo -->
				<p:repeat var="logo" value="#{confBean.lista}">
					<a href="home.html" class="site-logo">
						<img src="#{logo.logoSite}" style="width: 172px; height: 41px;"/>
					</a>
				</p:repeat>
				<nav class="top-nav-area w-100">
					<div class="user-panel">
						<a href="Logar.jsf">Logar</a>
					</div>
					<!-- Menu -->
					<ul class="main-menu primary-menu">
						<li><a href="index.jsf">Home</a></li>
						<li><a href="Filmes.jsf">Filmes</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Page top section -->
	<p:repeat var="tex" value="#{confBean.lista}">
	<section class="page-top-section set-bg" data-setbg="#{tex.imageHeaderL}">
		<div class="page-info">
			<h2>Login</h2>
			<div class="site-breadcrumb">
				<a href="index.jsf">Home</a>  /
				<span>Login</span>
			</div>
		</div>
	</section>
	</p:repeat>
	<!-- Page top end-->


	<!-- Contact page -->
	<section class="contact-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 order-2 order-lg-1">
					<h:form class="contact-form">
						<p:inputText type="text" value="#{usuarioBean.usuario.usuario}" placeholder="Digite seu usuário"/>
						<p:password type="password" value="#{usuarioBean.usuario.senha}" placeholder="Digite uma senha"/>
						<h:commandButton class="site-btn" value="Logar" action="#{usuarioBean.veri}"/>
					</h:form>
				</div>
				<div class="col-lg-5 order-1 order-lg-2 contact-text text-white">
					<h3>Fascinante! Aqui o melhor. </h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.....</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact page end-->

	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<p:repeat var="lof" value="#{confBean.lista}">
				<a href="#" class="footer-logo">
					<img src="#{lof.logoSite}" style="width: 172px; height: 41px;"/>
				</a>
			</p:repeat>
			<ul class="main-menu footer-menu">
				<li><a href="index.jsf">Home</a></li>
				<li><a href="Filmes.jsf">Filmes</a></li>
			</ul>
			<div class="copyright"><a href="">Colorlib</a> 2019 @ usuário</div>
		</div>
	</footer>
	<!-- Footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.sticky-sidebar.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/main.js"></script>

	</body>
</html>
